<ion-content class="background">
	<div class="title">
      	<span>Enter your email to reset your password</span>
    </div>
    <div id="container">
        <ion-item id="rounded">
          <ion-input class="input" placeholder="Email" autocomplete="off"  name="email" type="text" ></ion-input>
        </ion-item>
        <div style="text-align: center;">
          <ion-button class="btn-cancel" color="medium" size="large" [routerLink]="['/login']">Cancel</ion-button>
			<ion-button color="secondary" size="large">Submit</ion-button>
        </div>
    </div>
</ion-content>

