#title {
    width: 100%;
    width: 100%;
    margin: 0;
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bolder;
}

#tracker-history-card {
    width: 100%;
}

img {
    height: 48px;
    margin-right: 1em;
}

.alerts-label {
    font-size: 12px;
}