<ion-header>
  <ion-toolbar color="white">
    <ion-buttons id="pref" slot="start" (click)="closeModal()" >
      <p style="color: black; font-size: 12px; padding-left: 1em;">Cancel</p>
    </ion-buttons>
    <p style="width: 100%;" id="title">Filters</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>Sort By</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Do not disturb
                <br>
                <p style="font-size: 10px;">Snooze all alert notifications</p>
              </ion-label>
              <ion-checkbox slot="end" color="dark"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <h5 style="width: 100%; text-align: center;">Alerts and notifications are managed in the web application</h5>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons id="pref" slot="start">
      <p style="color: black; font-size: 12px; padding-left: 1em;">Reset</p>
    </ion-buttons>
    <ion-button slot="end" color="dark">
      Save Changes
    </ion-button>
  </ion-toolbar>
</ion-footer>